@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/authorization.css" asp-append-version="true" />

<main class="set-center">
    <div class="login__item-background"></div>
    <div class="login__item-background"></div>
    <div class="login">
        <form id="account" method="post">
            <h2 class = "login__namer">@ViewData["Title"]</h2>
            <p class="set-center login__underheadline">Ви за крок до мети</p>
            <div class="wrapper set-center">
                <input class="login__field" asp-for="Input.Email" placeholder="Електронна пошта або логін" />
            </div>
            <div class="wrapper login__input-restore pointer">
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </div>
            <div class="wrapper set-center">
                <input class="login__field" asp-for="Input.Password" value="" placeholder="Пароль"/>
            </div>
            <div class="wrapper set-center">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger set-center"></div>
            <div class="wrapper set-center">
                <input class = "set-shadow-white login__field-submit pointer" type="submit" value="Увійти">
            </div>
            <div class="wrapper set-center">
                <span>Не маєте акаунту?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> <u>Створіть тут.</u></a></span>
            </div>    
        </form>
    </div>
</main>
@*<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" /> 
}
