@page
@model RegisterModel

@{
    ViewData["Title"] = "Registration";
}

<link rel="stylesheet" href="~/css/authorization.css" asp-append-version="true" />

<main class="set-center">
    <div class="login__item-background"></div>
    <div class="login__item-background"></div>
    <div class="register">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class = "login__namer">@ViewData["Title"]</h2>
            <div class="wrapper set-center">  
                <input class="login__field" asp-for="Input.FirstName" placeholder="Введіть ім'я"/>
            </div>  
            <div class="wrapper set-center">  
                <input class="login__field" asp-for="Input.LastName" placeholder="Введіть прізвище" />
            </div>  
            <div class="wrapper set-center">
                <input class="login__field" asp-for="Input.Email" value="" placeholder="Введіть свою пошту" />
            </div>
            <div class="wrapper set-center">
                <input class="login__field" asp-for="Input.Password" value="" placeholder="Введіть свій пароль" />
            </div>
            <div class="wrapper set-center">
                <input class="login__field" asp-for="Input.ConfirmPassword" value="" placeholder="Підтвердіть пароль" />
            </div>
            <div class="wrapper set-center">
                <input class = "set-shadow-white register__field-submit pointer" type="submit" value="Sign up" required>
            </div>
        </form>
    </div>
    <div asp-validation-summary="All" class="text-danger set-center"></div>
</main>
@*<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to register.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
