@using System.Globalization
@model List<Assignment>
@{
    int CalculateProgress(DateTime Deadline, DateTime Assignment_Date)
    {
        DateTime CurrentTime = DateTime.Now;
        return Convert.ToInt32((1 - ((Deadline - CurrentTime).TotalMinutes / (Deadline - Assignment_Date).TotalMinutes)) * 100);
    }
    string GetTimeLeft(DateTime Deadline)
    {
        DateTime CurrentTime = DateTime.Now;
        TimeSpan TimeDiff = Deadline - CurrentTime;

        if (TimeDiff.Days > 0)
        {
            return(Convert.ToString(TimeDiff.Days) + " Days left");
        }
        else if (TimeDiff.Hours > 0)
        {
            return(Convert.ToString(TimeDiff.Hours) + " Hours left");
        }
        else if (TimeDiff.Minutes > 0)
        {
            return(Convert.ToString(TimeDiff.Minutes) + " Minutes left");
        }
        else if (TimeDiff.TotalSeconds > 0)
        {
            return("Less than one minute");
        }
        return("Time passed");
    }
}
    <!-- Main-->
<link rel="stylesheet" href="~/css/tasks.css" asp-append-version="true">
<div class="task__container-row">
    @foreach(var item in Model)
    {
        CultureInfo ci = new CultureInfo("en-US");

        int Progress = CalculateProgress(item.Deadline, item.Assignment_Date);
        <div class="task__element">
        <h4 class = "task__date">@item.Assignment_Date.ToString("MMMM", ci) @item.Assignment_Date.Day, @item.Assignment_Date.Year</h4>
        <p class = "task__headline set-center">
          <span>@item.Assignment_Name</span>
        </p>
        <p class = "task__detailed set-center">
          <span>@item.Assignment_Description</span>
        </p>
        <span class = "task__progress">Progress</span>
        <div class="task__progress-bar">
          <div class="progress" style = "width: @Progress%;">
          </div>
        </div>
        <div class="task__days-left">
            <div class = "task__days-timer">
                @GetTimeLeft(item.Deadline)
            </div>
        </div>
      </div>
    }
</div>