@{
    ViewData["Title"] = "Home Page";
}
@model List<User>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MiddleName</th>
            <th>Specialty</th>
            <th>Course</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td>@item.Specialty</td>
                <td>@item.Course</td>
                <td>@item.Group</td>
            </tr>
        }
    </tbody>
</table>
